{% extends 'account/_base_account.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans 'getswimfit - login' %}{% endblock title %}

<!-- Account area content -->
{% block account_page_content %}
	<!-- Card header -->
	<div class="d-flex align-items-center text-uppercase mb-4">
		<i class="fas fa-sign-in-alt fa-2x orange-text pr-3"></i>
		<h3 class="h3-responsive m-0">{% trans 'Log In' %}</h3>
	</div>
	<!-- /.Card header -->
	<!-- Form -->
	<form method="post">
    	{% csrf_token %}
    	{{ form|crispy }}
    	<button class="btn btn-primary" type="submit">{% trans 'Log In' %}</button>
	</form>
	<!-- /.Form -->
  	<a href="{% url 'account_reset_password' %}">{% trans 'Forgot Password?' %}</a>
{% endblock account_page_content %}
<!-- /.Account area content -->