{% extends 'account/_base_account.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans 'getswimfit - signout' %}{% endblock title %}

<!-- Content -->
{% block account_page_content %}
	<!-- Card header -->
	<div class="d-flex align-items-center text-uppercase mb-4">
		<i class="fas fa-sign-out-alt fa-2x orange-text pr-3"></i>
		<h3 class="h3-responsive m-0">{% trans 'Log Out' %}</h3>
	</div>
	<!-- /.Card header -->
	<!-- Form -->
	<p>{% trans 'Are you sure you want to log out?' %}</p>
	<form method="post" action="{% url 'account_logout' %}">
		{% csrf_token %}
		{% if redirect_field_value %}
		<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
		{% endif %}
		<button class="btn btn-primary" type="submit">{% trans 'Log Out' %}</button>
	</form>
	<!-- /.Form -->
{% endblock account_page_content %}
<!-- /.Content -->