{% extends 'account/_base_account.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans 'getswimfit - set password' %}{% endblock title %}

<!-- Account area content -->
{% block account_page_content %}
	<!-- Card header -->	
	<div class="d-flex align-items-center text-uppercase mb-4">
		<i class="fas fa-key fa-2x orange-text pr-3"></i>
		<h3 class="h3-responsive m-0">{% trans 'Set Password' %}</h3>
	</div>
	<!-- /.Card header -->
	<!-- Form -->
	<form method="POST" action="" class="password_set">
		{% csrf_token %}
		{% bootstrap_form password_set_form %}
		<div class="form-actions">
		<button class="btn btn-primary" type="submit" name="action" value="{% trans "Set Password" %}"/>{% trans 'Change Password' %}</button>
		</div>
	</form>
	<!-- /.Form -->
{% endblock account_page_content %}
<!-- /.Account area content -->