{% extends 'account/_base_account.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans 'getswimfit - change password' %}{% endblock title %}

<!-- Account area content -->
{% block account_page_content %}
	<h2>{% if token_fail %}{% trans 'Bad Token' %}{% else %}{% trans 'Change Password' %}{% endif %}</h2>
	{% if token_fail %}
		<p>{% trans 'The password reset link was invalid. Perhaps it has already been used?  Please request a' %} <a href="{% url 'account_reset_password' %}">{% trans 'new password reset' %}</a>.</p>
	{% else %}
		{% if form %}
		<form method="POST" action=".">
			{% csrf_token %}
			{{ form|crispy }}
			<button class="btn btn-primary" type="submit">{% trans 'Change Password' %}</button>
		</form>
		<!-- /.Form -->
		{% else %}
			<p>{% trans 'Your password is now changed.' %}</p>
		{% endif %}
	{% endif %}
{% endblock account_page_content %}
<!-- /.Account area content -->