{% extends 'account/_base_account.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans 'getswimfit - change password' %}{% endblock title %}

<!-- Account area content -->
{% block account_page_content %}
	<!-- Card header -->
	<div class="d-flex align-items-center text-uppercase mb-4">
		<i class="fas fa-key fa-2x orange-text pr-3"></i>
		<h3 class="h3-responsive m-0">{% trans 'Change Password' %}</h3>
	</div>
	<!-- /.Card header -->
	<!-- Form -->
	<form method="post" action="{% url 'account_change_password' %}" class="password_change">
		{% csrf_token %}
		{{ form|crispy }}
		<button class="btn btn-primary" type="submit">{% trans 'Change Password' %}</button>
	</form>
	<!-- /.Form -->
	<a href="{% url 'account_reset_password' %}">{% trans 'Forgot Password?' %}</a>
{% endblock account_page_content %}
<!-- /.Account area content -->