<!-- templates/corepages/home.html -->
{% extends '_base.html' %}
{% load static %}
{% load i18n %}

<!-- Tab title -->
<title>
    {% block title %}
      {% trans 'getswimfit - home' %}
    {% endblock title %}
</title>
<!-- /.Tab title -->

<!-- CSS -->
{% block extra_css %}
<!-- Local extra CSS -->
<link
    href="{% static 'corepages/css/home.css' %}"
    rel="stylesheet"
/>
{% endblock extra_css %}
<!-- /.CSS -->

<!-- Main Page content -->
{% block page_content %}
<main>
    <!-- Section: Banner one -->
    <!-- Background image -->
    <section id="banner-one"
            class="view"
            style="background-image: url('{% static 'corepages/images/home_banner_1.jpg' %}')">
        <!-- Mask -->
        <div class="mask rgba-black-light">
            <!-- Content -->
            <div class="container-fluid d-flex align-items-center justify-content-center">
                <!-- Grid row -->
                <div class="row d-flex align-items-center justify-content-center text-uppercase text-center">
                    <!-- Grid column -->
                    <div class="col pt-5 mt-5">
                        <!-- Heading -->
                        <h2 class="h2-responsive white-text pt-5 mt-5 mb-4 mx-5">Bored grinding out laps?</h2>
                        <!-- /.Heading -->
                        <!-- Divider -->
                        <hr class="hr-light mx-5">
                        <!-- /.Divider -->
                        <!-- Description -->
                        <h1 class="h1-responsive white-text my-4 mx-5">Supercharge your swims</h1>
                        <!-- /.Description -->
                    </div>
                    <!-- /.Grid column -->
                </div>
                <!-- /.Grid row -->
            </div>
            <!-- /.Content -->
        </div>
        <!-- /.Mask -->
    </section>
    <!-- /.Background image -->
    <!-- /.Section: Banner one -->

    <!-- Section: Benefits -->
    <section id="benefits" class="container text-center mt-5 mb-3">
        <!-- Heading -->
        <h2 class="mb-5 font-weight-bold" class="text-center">The benefits</h2>
        <!-- /.Heading -->
        <!-- Grid row 1 -->
        <div class="row text-center">
            <!-- Grid column 1.1 -->
            <div class="col-md-4 mb-4">
                <!--span style="color: darkorange;"-->
                    <i class="fas fa-smile-beam fa-6x orange-text"></i>
                <!--/span-->
                <h4 class="my-4 font-weight-bold">Be inspired</h4>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                        maiores nam, aperiam minima assumenda deleniti hic.</p>
            </div>
            <!-- /.Grid column 1.1 -->
            <!-- Grid column 1.2 -->
            <div class="col-md-4 mb-4">
                <!--span style="color: darkorange;"-->
                    <i class="fas fa-swimmer fa-flip-horizontal fa-6x orange-text"></i>
                <!--/span-->
                <h4 class="my-4 font-weight-bold">Keep motivated</h4>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                        maiores nam, aperiam minima assumenda deleniti hic.</p>
            </div>
            <!-- /.Grid column 1.2 -->
            <!-- Grid column 1.3 -->
            <div class="col-md-4 mb-4">
                <!--span style="color: darkorange;"-->
                    <i class="fas fa-chart-line fa-6x orange-text"></i>
                <!--/span-->
                <h4 class="my-4 font-weight-bold">Track progress</h4>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                        maiores nam, aperiam minima assumenda deleniti hic.</p>
            </div>
            <!-- /.Grid column 1.3 -->
        </div>
        <!-- /.Grid row 1 -->
        <!-- Grid row 2 -->
        <div class="row justify-content-center text-center mb-3">
            <!-- Grid column 2.1 -->
            <div class="col-md-4 mb-4">
                <!--span style="color: darkorange;"-->
                    <i class="fa fa-rocket fa-6x orange-text"></i>
                <!--/span-->
                <h4 class="my-4 font-weight-bold">Boost performance</h4>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                        maiores nam, aperiam minima assumenda deleniti hic.</p>
            </div>
            <!-- /.Grid column 2.1 -->
            <!-- Grid column 2.2 -->
            <div class="col-md-4 mb-4">
                <!--span style="color: darkorange;"-->
                    <i class="fa fa-heartbeat fa-6x orange-text"></i>
                <!--/span-->
                <h4 class="my-4 font-weight-bold">Increase fitness</h4>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                        maiores nam, aperiam minima assumenda deleniti hic.</p>
            </div>
            <!-- /.Grid column 2.2 -->
        </div>
        <!-- /.Grid row 2 -->
    </section>
    <!-- /.Benefits -->

    <!-- Section: Banner two -->
    <!-- Background image -->
    <section id="banner-two"
            class="view"
            style="background-image: url('{% static 'corepages/images/home_banner_2.jpg' %}')">
        <!-- Mask -->
        <div class="mask rgba-black-light">
            <!-- Content -->
            <div class="container-fluid d-flex align-items-center justify-content-center">
                <!-- Grid row -->
                <div class="row d-flex align-items-center justify-content-center text-uppercase text-center">
                    <!-- Grid column -->
                    <div class="col mt-4">
                        <!-- Heading -->
                        <h2 class="h2-responsive white-text pt-5 mt-5 mb-4 mx-5">Need some motivation?</h2>
                        <!-- /.Heading -->
                        <!-- Divider -->
                        <hr class="hr-light mx-5">
                        <!-- /.Divider -->
                        <!-- Description -->
                        <h1 class="h1-responsive white-text my-4 mx-5">Check out our inspirational swimplans</h1>
                        <!-- /.Description -->
                    </div>
                    <!-- /.Grid column -->
                </div>
                <!-- /.Grid row -->
            </div>
            <!-- /.Content -->
        </div>
        <!-- /.Mask -->
    </section>
    <!-- /.Background image -->
    <!-- /.Section: Banner two -->		

    <!-- Section: Price Plans -->
    <section id="price-plans" class="container text-center mt-5 mb-3">
        <!-- Heading -->
        <h2 class="mb-5 font-weight-bold" class="text-center">Our price plans</h2>
        <!-- Grid row 1.1 -->
        <div class="row text-center">
            <!-- Grid column 1.1 -->
            <div class="col-md-3 mb-4">
                <!-- Pricing card -->
                <div class="text-white stylish-color py-3 px-3 rounded">
                    <!-- Card content -->
                    <card-body>
                        <h4><strong>SWIMMER BASIC</strong></h4>
                        <hr class="hr-light mx-5">
                            <!-- Price -->
                            <div class="price pt-0">
                                <h2 class="number">FREE</h2>
                                <h6>Create an account and dive right in</h6>
                                <hr class="hr-light mx-5">
                            </div>
                            <!-- /.Price -->
                        <!-- Feature table -->
                        <div class="text-left">
                            <ul class="fa-ul m-2">
                                <li>
                                    <p><i class="fas fa-check-circle pr-2"></i>Beginner swimplans</p>
                                </li>
                                <li>
                                    <p><i class="fas fa-check-circle pr-2"></i>Search our library</p>
                                </li>
                                <li>
                                    <p><i class="fas fa-check-circle pr-2"></i>Print off swimplans</p>
                                </li>
                            </ul>
                        </div>
                        <!-- /.Feature table -->
                        <button href="{% url 'account_signup' %}" class="btn btn-outline-white waves-effect"><i class="fas fa-user-plus pr-2"></i>{% trans ' Sign up' %}</button>
                    </card-body>
                    <!-- /.Card content -->
                </div>
                <!-- /.Pricing card -->
            </div>
            <!-- /.Grid column 1.1 -->
            <!-- Grid column 1.2 -->
            <div class="col-md-4 mb-4">
                <!-- Pricing card -->
                <div class="text-white orange py-3 px-3 rounded">
                    <!-- Card content -->
                    <card-body>
                        <h4><strong>SWIMMER PRO</strong></h4>
                        <hr class="hr-light mx-5">
                            <!-- Price -->
                            <div class="price pt-0">
                                <h2 class="number">£5.00/month</h2>
                                <h6>20% discount when purchased annually (£4.00/month)</h6>
                                <hr class="hr-light mx-5">
                            </div>
                            <!-- /.Price -->
                        <!-- Feature table -->
                        <div class="text-left">
                            <ul class="fa-ul m-2">
                                <li>
                                    <p><i class="fas fa-check-circle pr-2"></i>Everything in SWIMMER BASIC plan</p>
                                </li>
                                <!--li>
                                    <div class="text-center">
                                        <p><i class="fas fa-plus fa-1x"></i></p>
                                    </div>
                                </li-->
                                <li>
                                    <p><i class="fas fa-plus-circle pr-2"></i>Intermediate & Advanced swimplans</p>
                                </li>
                                <li>
                                    <p><i class="fas fa-plus-circle pr-2"></i>Create a profile</strong></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-plus-circle pr-2"></i>Build a tailored training pathway</p>
                                </li>
                                <li>
                                    <p><i class="fas fa-plus-circle pr-2"></i>Track your progress</p>
                                </li>
                                <li>
                                    <p><i class="fas fa-plus-circle pr-2"></i>Progressive swimplans emailed weekly</p>
                                </li>
                            </ul>
                        </div>
                        <!-- /.Feature table -->
                        <img src="{% static 'corepages/images/coming_soon.png' %}" class="img-fluid" alt="icon_coming_soon">
                        <!--button href="{% url 'account_signup' %}" class="btn btn-outline-white waves-effect"><i class="fas fa-shopping-cart pr-2"></i>{% trans ' Buy now' %}</button-->
                    </card-body>
                    <!-- /.Card content -->
                </div>
                <!-- /.Pricing card -->
            </div>
            <!-- /.Grid column 1.2 -->
            <!-- Grid column 1.3 -->
            <div class="col-md-5 mb-4">
                <!-- Pricing card -->
                <div class="text-white mdb-color unique-color-dark py-3 px-3 rounded">
                    <!-- Card content -->
                    <card-body>
                        <h4><strong>INSTRUCTOR</strong></h4>
                        <hr class="hr-light mx-5">
                            <!--Price-->
                            <div class="price pt-0">
                                <h2 class="number">£25.00/month</h2>
                                <h6>20% discount when purchased annually<br>(£20.00/month)</h6>
                                <hr class="hr-light mx-5">
                            </div>
                            <!-- /.Price -->
                        <!-- Feature table -->
                        <div class="text-left">
                            <ul class="fa-ul m-2">
                                <li>
                                    <p><i class="fas fa-check-circle pr-2"></i>Everything in SWIMMER PRO plan</p>
                                </li>
                                <!--li>
                                    <div class="text-center mx-2">
                                        <p><i class="fas fa-plus"></i></p>
                                    </div>
                                </li-->
                                <li>
                                    <p><i class="fas fa-plus-circle pr-2"></i>Create an instructor level profile with public bio page</p>
                                </li>
                                <li>
                                    <p><i class="fas fa-plus-circle pr-2"></i>Apply your brand (logo) to our swimplans</strong></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-plus-circle pr-2"></i>Create your own swimplans and curated pathways</strong></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-plus-circle pr-2"></i>Manage and maintain your clients</strong></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-plus-circle pr-2"></i>Multiple options for sending swimplans to clients</p>
                                </li>
                                <li>
                                    <p><i class="fas fa-plus-circle pr-2"></i>Track client progress</p>
                                </li>
                            </ul>
                        </div>
                        <!-- /.Feature table -->
                        <img src="{% static 'corepages/images/coming_soon.png' %}" class="img-fluid" alt="icon_coming_soon">
                        <!--button href="{% url 'account_signup' %}" class="btn btn-outline-white waves-effect"><i class="fas fa-shopping-cart pr-2"></i>{% trans ' Buy now' %}</button-->
                    </card-body>
                    <!-- /.Card content -->
                </div>
                <!-- /.Pricing card -->
            </div>
            <!--/.Grid column 1.3-->
        </div>
        <!-- /.Grid row 1.1 -->
        <!-- Grid row 2 -->
        <div class="row text-center mb-5">
            <!-- Grid column 2.1 -->
            <div class="col-md-12">
                <button type="button" class="btn btn-primary waves-effect mx-0"><i class="fas fa-book-open pr-2"></i>{% trans ' Learn more' %}</button>
            </div>
            <!-- /.Grid column 2.1 -->
        </div>
        <!-- /.Grid row 2 -->
    </section>
    <!-- /.Section: Price Plans -->

    <!-- Section: Banner three -->
    <!-- Background image -->
    <section id="banner-three"
            class="view"
            style="background-image: url('{% static 'corepages/images/home_banner_3.jpg' %}')">
        <!-- Mask -->
        <div class="mask rgba-black-light">
            <!-- Content -->
            <div class="container-fluid d-flex align-items-center justify-content-center">
                <!-- Grid row -->
                <div class="row d-flex align-items-center justify-content-center text-uppercase text-center">
                    <!-- Grid column -->
                    <div class="col mt-4">
                        <!-- Heading -->
                        <h2 class="h2-responsive white-text pt-5 mt-5 mb-4 mx-5">Hit a plateau?</h2>
                        <!-- /.Heading -->
                        <!-- Divider -->
                        <hr class="hr-light mx-5">
                        <!-- /.Divider -->
                        <!-- Description -->
                        <h1 class="h1-responsive white-text my-4 mx-5">Boost performance and increase fitness</h1>
                        <!-- /.Description -->
                    </div>
                    <!-- /.Grid column -->
                </div>
                <!-- /.Grid row -->
            </div>
            <!-- /.Content -->
        </div>
        <!-- /.Mask -->
    </section>
    <!-- /.Background image -->
    <!-- /.Section: Banner three -->

    <!-- Section: Get Started -->
    <section id="get-started" class="container text-center mt-5 mb-3">
        <!-- Heading -->
        {% if user.is_authenticated %}
            <h2 class="mb-5 font-weight-bold" class="text-center">Dive in and search our swimplans!</h2>
        {% else %}
            <h2 class="mb-5 font-weight-bold" class="text-center">Create an account and dive in!</h2>
        {% endif %}
            <!-- Grid row 1 -->
        <div class="row text-center">
            <!-- Grid column 1.1 -->
            <div class="col-md-4 mb-4">
                <!--span style="color: darkorange;"-->
                    <i class="fas fa-search fa-flip-horizontal fa-6x orange-text"></i>
                <!--/span-->
                <h4 class="my-4 font-weight-bold">Search our library</h4>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                    maiores nam, aperiam minima assumenda deleniti hic.</p>
            </div>
            <!-- /.Grid column 1.1 -->
            <!-- Grid column 1.2 -->
            <div class="col-md-4 mb-4">
                <!--span style="color: darkorange;"-->
                    <i class="fas fa-file-download fa-6x orange-text"></i>
                <!--/span-->
                <h4 class="my-4 font-weight-bold">Print a swimplan</h4>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                    maiores nam, aperiam minima assumenda deleniti hic.</p>
            </div>
            <!-- /.Grid column 1.2 -->
            <!-- Grid column 1.3 -->
            <div class="col-md-4 mb-4">
                <!--span style="color: darkorange;"-->
                    <i class="fas fa-swimming-pool fa-6x orange-text"></i>
                <!--/span-->
                <h4 class="my-4 font-weight-bold">Take to the pool</h4>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                    maiores nam, aperiam minima assumenda deleniti hic.</p>
            </div>
            <!-- /.Grid column 1.3 -->
        </div>
        <!-- /.Grid row 1 -->
        <!-- Grid row 2 -->
        <div class="row text-center mb-5">
            <!-- Grid column 2.1 -->
            <div class="col-md-12">
                {% if user.is_authenticated %}
                    <a href="{% url 'account_signup' %}" class="btn btn-primary"><i class="fas fa-search pr-2"></i>{% trans 'Search library' %}</a>
                {% else %}
                    <a href="{% url 'account_signup' %}" class="btn btn-primary"><i class="fas fa-user-plus pr-2"></i>{% trans 'Sign up' %}</a>
                    <!--h6 class="grey-text">or</h6-->
                    <a href="{% url 'account_login' %}" class="btn btn-outline-primary"><i class="fas fa-sign-in-alt pr-2"></i>{% trans 'Log in' %}</a>
                {% endif %}
            </div>
            <!-- /.Grid column 2.1 -->
        </div>
        <!-- /.Grid row 2 -->  
    </section>
    <!-- /.Section: Get Started -->

</main>
{% endblock page_content %}
<!-- /.Main page content -->

{% block extra_js %}
    <!-- Project JS -->
{% endblock extra_js %}
