{% extends '_base.html' %}
{% load i18n %}

{% block title %}{% trans '500: Server Error' %}{% endblock title %}

{% block content %}
<h1>{% trans '500: Server Error' %}</h1>
<p>{% trans 'Looks like something went wrong!' %}</p>
{% endblock content %}